.container {
  display: flex;
  align-items: center;
  flex-direction: column;

}

#forms {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 16px;
  margin-bottom: 32px;
}

.landing-form {
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* justify-content: center; */
  margin: 16px;
}

#landing-form-left {
  border-right: 1px solid black;
}

#landing-form > h3 {
  justify-content: flex-start;
}

h1 {
  font-size: 60px;
  margin-bottom: 16px;
}

@media (max-width: 800px) {
  #forms {
    flex-direction: column;
  }
  #landing-form-left {
    border-right: none;
    border-bottom: 1px solid black;
  }
}