#view-dog-img {
  width: 60%;
  margin-top: 32px;
  box-shadow: 0 0 50px white;
}

#view-dog {
  display: flex;
  align-items: center;
}

.fam-card {
  background-color: rgb(182, 115, 0);
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 14px;
  color: black;
  background-image: linear-gradient(rgb(255, 188, 73), rgb(182, 115, 0) 20% 80%, rgb(255, 188, 73));
}

.fam-card:hover {
  cursor: pointer;
  background-image: linear-gradient(rgb(255, 188, 73), white 20% 80%, rgb(255, 188, 73));
}

#options {
  display: flex;
  flex-direction: column;
}

#options * {
  margin: 0 16px;

}

#options div {
  display: flex;
  margin-bottom: 16px;
}

