main{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card {
  margin: 16px;
  display: inline-block;
}

#dogs-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

