body {
  margin: 0;
  margin-top: -16px;
  font-family: 'Shantell Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 188, 73);
  color: rgb(0, 0, 0);

}

code {
  font-family: 'Shantell Sans', cursive;
}

.link {
  text-decoration: none;
}

.button,
button {
  background-color: white;
  border: solid 1px rgb(255, 188, 73);
  border-radius: 5px;
  color: rgb(182, 115, 0);
  font-size: 16px;
  transition: .25s;
}

.button:hover,
button:hover {
  border: solid 1px white;
  background-color: rgb(182, 115, 0);
  color: white;
}

input,
textarea, 
select {
  background-color: inherit !important;
  border: none;
  border-bottom: solid 1px black;
  text-align: center;
  font-family: 'Shantell Sans', cursive;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  background-color: rgb(182, 115, 0);
  border: none;
  border-bottom: 1px solid white;
}

#title {
  margin: 24px 0px !important;
}

p:hover,
h2:hover {
  cursor: default
}

